.container {
	background-color: grey;
}

#title {
	color: purple;

}
.container span {
	background-color: #080501 3.125rem;
	color: white;
}

a {
	text-decoration: none;
}

a:hover {
	color: purple
}

a:active {
	color: tomato;
}

a:visited {
	color: white
}