
* {
	margin: ;
}
main {
	text-align: left;
	margin-top: 200px;
	background-color: white;
	float: left;
	width: 75%;
	height: 100vh;
	/*margin-left: 10px;*/
}

h4 {
	text-align: left;
	margin-left: 10px;
}


nav {
	text-align: center;
	float: left;
	background-color: rgba(223, 41, 9, 0.705);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
	
	width: 25%;
	height: 100vh;
	font-size: 3.2em;
	padding-bottom: 3px;
	line-height: 1em;
	
}

#photo {
	height: 300px;
	height: 300px;
	border-radius: 50%;
	margin-top: 200px;
	
	
}

#lista-topics {
	margin-top: 50px;
	list-style: none;
	font-size: large ;
}